body {
    background-image: url("./Assets/Images/VibrantShoals.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #3e40b4;
}

.content {
    margin: 20vh,30vw,30vw, 0px;
    background-color: rgb(127, 207, 245);
    border: 5px, solid, rgb(69, 0, 97);
    border-radius: 20px;
}

.profile_pic{
    align-self: center;
    width: 10vh;
    height: auto;
}