body {
    background-image: url("./Assets/Images/VibrantShoals.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    margin: 20%,30%,30%,0%;
}

.profile_pic{
    size: 20%;
}